<h2>Welcome, @Model.Username</h2>

<ul>
    <li>
        <a asp-controller="Reflection" asp-action="Create">
            Write a Reflection
        </a>
    </li>
    <li>
        <a asp-controller="Reflection" asp-action="Index">
            View My Reflections
        </a>
    </li>
    <li>
        <a asp-controller="Reflection" asp-action="Forum">
            Visit the Public Forum
        </a>
    </li>
    <li>
        <a asp-action="Logout">Logout</a>
    </li>
</ul>